@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$black: #0a0a0a;
$dark: #111;
$light : #f5f5f5;
$danger: #ed1543;
$primary: #ed1543;

$navbar-item-color: #fff !important;
$footer-background-color: #f1f3f3;

$custom-colors: ("green": $turquoise);

@import "../node_modules/bulma/bulma";
@import "checkbox.scss";

.hero.is-danger .label, .hero.is-dark .label, .hero.is-black .label, .hero.is-green .label{
  color: $white;
}

.icon.action i{
  cursor: pointer;
}

.level-item > * {
  margin-left: 1rem;
}

.level-item .field {
  margin-bottom: 0;
}

